/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require slick
 *= require slick-theme
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */



@font-face {
font-family: 'aqua_grotesqueregular';
src: asset-url('aqua-webfont.eot');
src: asset-url('aqua-webfontd41d.eot?#iefix') format('embedded-opentype'),
asset-url('aqua-webfont.html') format('woff2'),
asset-url('aqua-webfont.woff') format('woff'),
asset-url('aqua-webfont.ttf') format('truetype'),
asset-url('aqua-webfont.svg#aqua_grotesqueregular') format('svg');
font-weight: normal;
font-style: normal;
}